.item {
    margin: 5px 10px 2px 5px;
    padding: 2px 2px 5px 2px;
    cursor: pointer;
}

.item:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
}

.Google {
  font-size: 100px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.searchbar {
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
  }

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.toprow {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
}

.topleft {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;
}

.topright {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.bottomrow {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    min-height: 50px;
    background: lightgrey;
    justify-content: space-between;
    align-items: center;
}

.bottomleft {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.bottomright {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}